<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en, ko"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600|Josefin+Slab:400,600|Montserrat:300,400,500,700|Nanum+Gothic|Nanum+Myeongjo:400,700|Noto+Sans+KR|Old+Standard+TT|Open+Sans+Condensed:300|Playfair+Display+SC:400,700|Playfair+Display:400,700&amp;subset=cyrillic,korean,latin-ext" rel="stylesheet">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/site.webmanifest">
    <link rel="mask-icon" href="{{ site.baseurl }}/safari-pinned-tab.svg" color="#464646">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:image" content="{{ site.baseurl }}/og-img-dtB.png">
    <meta property="og:title" content="{{ page.og-title }}">
    <meta property="og:description" content="{{ page.og-description }}">
    <meta property="og:url" content="dragontony1.github.io">
  </head>
  <body>
    {{ content }}
  </body>
</html>
