<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en, ko"/>
    <link rel="stylesheet" href="_css/style.scss">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600|Josefin+Slab:400,600|Montserrat:300,400,500,700|Nanum+Gothic|Nanum+Myeongjo:400,700|Noto+Sans+KR|Old+Standard+TT|Open+Sans+Condensed:300|Playfair+Display+SC:400,700|Playfair+Display:400,700&amp;subset=cyrillic,korean,latin-ext" rel="stylesheet">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FAVICON -->

    <meta property="og:image" content="">
    <meta property="og:title" content="dragontony1 Blog Website">
    <meta property="og:description" content="Come and take a look what's going on inside a nerdy mind!">
    <meta property="og:url" content="dragontony1.github.io">
  </head>
  <body>
    {{ content }}
  </body>
</html>
