---
layout: default
---
<nav id="top-nav" class="head1">
  <div>
    <a href="#" id="top-nav-temp"><img src="{{ site.url }}{{ site.baseurl }}/img/blog-icon.png" alt="dtB_logo"></a>
    <ul>
      <li><a href="#">Daily Thoughts</a></li>
      <li><a href="#">Travel Diaries</a></li>
      <li><a href="#">Programming Diaries</a></li>
      <li><a href="#">About me...</a></li>
    </ul>
  <div>
</nav>
<main>
  <div id="list-sect">
    {{ content }}
  </div>
  <footer class="head1">
    2018 dragontony1 Blog<br>
    StyleSheet v2.1<br>
    GitHub page: <a href="https://github.com/dragontony1/blog" target="_blank">https://github.com/dragontony1/blog</a>
  </footer>
</main>
