---
layout: default
---
<nav id="top-nav" class="head1">
  <div>
    <a href="https://dragontony1.github.io/dtB/main" id="top-nav-temp"><img src="{{ site.baseurl }}/assets/img/blog-icon.png" alt="dtB_logo"></a>
    <ul>
      <li><a href="https://dragontony1.github.io/dtB/daily-thoughts/list">Daily Thoughts</a></li>
      <li><a href="https://dragontony1.github.io/dtB/lang-diaries/list">Language Diaries</a></li>
      <li><a href="https://dragontony1.github.io/dtB/trv-diaries/list">Travel Diaries</a></li>
      <li><a href="https://dragontony1.github.io/dtB/dev-diaries/list">Web Development Diaries</a></li>
      <li><a href="https://dragontony1.github.io/dtB/about-me">About Me</a></li>
    </ul>
  <div>
</nav>
<main>
  <div id="list-sect">
    {{ content }}
  </div>
  <footer class="head1">
    2021 dragontony1 Blog<br>
    StyleSheet v2.2<br>
    Powered by GitHub: https://github.com/dragontony1/dtB
  </footer>
</main>
