---
layout: default
---
<nav id="top-nav" class="head1">
  <div>
    <a href="https://dragontony1.github.io/dtB/" id="top-nav-temp"><img src="{{ site.baseurl }}/assets/img/blog-icon.png" alt="dtB_logo"></a>
    <ul>
      <li><a href="https://dragontony1.github.io/dtB/daily-thoughts/list">Daily Thoughts</a></li>
      <li><a href="https://dragontony1.github.io/dtB/trv-diaries/list">Travel Diaries</a></li>
      <li><a href="https://dragontony1.github.io/dtB/dev-diaries/list">Programming Diaries</a></li>
      <li><a href="https://dragontony1.github.io/dtB/about-me">About me...</a></li>
    </ul>
  <div>
</nav>
<main>
  <div id="list-sect">
    {{ content }}
  </div>
  <footer class="head1">
    2018 dragontony1 Blog<br>
    StyleSheet v2.1<br>
    GitHub page: <a href="https://github.com/dragontony1/blog" target="_blank">https://github.com/dragontony1/blog</a>
  </footer>
</main>
