---
layout: default
---
<!--Facebook Like-Button Plugin-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = 'https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v3.2';
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<nav id="top-nav" class="head1">
  <div>
    <a href="https://dragontony1.github.io/dtB/main" id="top-nav-temp"><img src="{{ site.baseurl }}/assets/img/blog-icon.png" alt="dtB_logo"></a>
    <ul>
      <li><a href="https://dragontony1.github.io/dtB/daily-thoughts/list">Daily Thoughts</a></li>
      <li><a href="https://dragontony1.github.io/dtB/trv-diaries/list">Travel Diaries</a></li>
      <li><a href="https://dragontony1.github.io/dtB/dev-diaries/list">Programming Diaries</a></li>
      <li><a href="https://dragontony1.github.io/dtB/about-me">About me...</a></li>
    </ul>
  <div>
</nav>
<main>
<div id="post-sect">
  <div id="post-header-sect">
    <h1 id="post-h1" class="head2">{{ page.top-category }}</h1>
    <h2 id="post-h2" class="head2">{{ page.sub-category }}</h2>
    <h3 id="post-h3" class="head1" lang="ko">{{ page.header-title }}</h3>
  </div>
  <div id="post-main-sect" class="contents" lang="ko">
    {{ content }}
  </div>
  <div class="fb-like" data-href="http://dragontony1.github.io/blog/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
  <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://dragontony1.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>
<footer class="head1">
  2021 dragontony1 Blog<br>
  StyleSheet v2.2<br>
  GitHub page: <a href="https://github.com/dragontony1/dtB" target="_blank">https://github.com/dragontony1/dtB</a>
</footer>
</main>
